In [1]:
import pandas as pd
import numpy as np

import seaborn as sns


import matplotlib.ticker as mtick

from sklearn.neighbors import NearestNeighbors
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

/Users/mons/opt/anaconda3/lib/python3.7/site-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
data = pd.read_csv('/Users/mons/Desktop/ML 3 project/zomato.csv')

In [3]:
df=data.drop(['url','phone'],axis=1)

In [4]:
df.drop_duplicates(inplace=True)

In [5]:
df.dropna(how='any',inplace=True)
df.isnull().sum()

address                        0
name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
dish_liked                     0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [6]:
df = df.rename(columns={'approx_cost(for two people)':'cost','listed_in(type)':'type',
                                  'listed_in(city)':'city'})
df.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'dish_liked', 'cuisines', 'cost',
       'reviews_list', 'menu_item', 'type', 'city'],
      dtype='object')

In [7]:

#zomato['cost'] = zomato['cost'].astype(str) #Changing the cost to string
df['cost'] = df['cost'].apply(lambda x: x.replace(',','')) #Using lambda function to replace ',' from cost
df['cost'] = df['cost'].astype(float)

In [8]:
df = df.loc[df.rate !='NEW']

In [9]:
df['rate'] = df['rate'].apply(lambda x: x.replace('/5',''))

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
df.location = le.fit_transform(df.location)
df.rest_type = le.fit_transform(df.rest_type)
df.cuisines = le.fit_transform(df.cuisines)
df.menu_item = le.fit_transform(df.menu_item)
df.online_order = le.fit_transform(df.online_order)
df.book_table = le.fit_transform(df.book_table)

In [12]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,dish_liked,cuisines,cost,reviews_list,menu_item,type,city
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,1,1,4.1,775,1,20,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...",1386,800.0,"[('Rated 4.0', 'RATED\n A beautiful place to ...",5047,Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,1,0,4.1,787,1,20,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...",594,800.0,"[('Rated 4.0', 'RATED\n Had been here for din...",5047,Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,1,0,3.8,918,1,16,"Churros, Cannelloni, Minestrone Soup, Hot Choc...",484,800.0,"[('Rated 3.0', ""RATED\n Ambience is not that ...",5047,Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,0,0,3.7,88,1,62,Masala Dosa,1587,300.0,"[('Rated 4.0', ""RATED\n Great food and proper...",5047,Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,0,0,3.8,166,4,20,"Panipuri, Gol Gappe",1406,600.0,"[('Rated 4.0', 'RATED\n Very good restaurant ...",5047,Buffet,Banashankari

In [13]:
x1=df.iloc[:,[1,2,3,4,5,6,7,9,10,12]]
x1.head(2)

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,cost,menu_item
0,Jalsa,1,1,4.1,775,1,20,1386,800.0,5047
1,Spice Elephant,1,0,4.1,787,1,20,594,800.0,5047

In [14]:
x1.drop_duplicates(inplace=True)
x1.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
51659    False
51660    False
51664    False
51677    False
51688    False
Length: 14448, dtype: bool

In [15]:
x1[x1.duplicated()]

Empty DataFrame
Columns: [name, online_order, book_table, rate, votes, location, rest_type, cuisines, cost, menu_item]
Index: []

In [16]:
x1.index

Int64Index([    0,     1,     2,     3,     4,     5,     7,     8,     9,
               10,
            ...
            51620, 51628, 51629, 51645, 51647, 51659, 51660, 51664, 51677,
            51688],
           dtype='int64', length=14448)

In [17]:
x1=x1.set_index("name")

In [18]:
x1.to_csv("x1.csv")

In [19]:
rec_model = NearestNeighbors(metric = 'cosine')
rec_model.fit(x1)

NearestNeighbors(metric='cosine')

In [20]:

a=np.where(x1.index=="Jalsa")[0][1]

In [21]:
query_rest_index=a
dist, ind = rec_model.kneighbors(x1.iloc[query_rest_index, :].values.reshape(1, -1), n_neighbors = 6)

In [22]:
top5=list(x1.index[ind[0]])[1:]

In [23]:

cuisine = x1['cuisines'].loc[top5]
rating = x1['rate'].loc[top5]
cos=x1["cost"].loc[top5]
loc=x1["location"].loc[top5]

In [ ]:
x.iloc[4][0]

In [ ]:

def rec(m):
    rec_model = NearestNeighbors(metric = 'cosine')
    rec_model.fit(x1)
    a=np.where(x1.index==m)[0][1]
    query_rest_index=a
    dist, ind = rec_model.kneighbors(x1.iloc[query_rest_index, :].values.reshape(1, -1), n_neighbors = 6)
    top5=list(x1.index[ind[0]])[1:]

    cuisine = x1['cuisines'].loc[top5]
    rating = x1['rate'].loc[top5]
    cos=x1["cost"].loc[top5]

    type1=[]

    rat=[]

    cost=[]
    name=[]

    for i in range(0, len(dist[0])):
        if i == 0:
            print('Top 5 Recommendations for the user who ate at the restaurant :',x1.index[query_rest_index])

        else:

                name.append(x1.index[ind[0][i]])
                type1.append(df.type[i])
                rat.append(rating[i])
                cost.append(cos[i])

    da=[[name[0],rat[0],cost[0]],[name[1],rat[1],cost[1]],
        [name[2],rat[2],cost[2]],[name[3],rat[3],cost[3]],[name[4],rat[4],cost[4]]]
    dt=pd.DataFrame(da,columns=["NAME","RATINGS","COST"])       
    return dt

In [ ]:
rec("Jalsa")